.app-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-header h2 {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}